.main
  .main__header
    .main__header__logo
      = link_to image_tag('logo/logo.png', height: '50px', width: '175px', class: "main__header__logo__image")
    .main__header__bar
      %ul.main__header__bar__ul
        %li.main__header__bar__ul__l1
          会員情報
          .main__header__bar__ul__l1__statu1
        %li.main__header__bar__ul__l2
          住所登録
          .main__header__bar__ul__l2__statu2
        %li.main__header__bar__ul__l3
          完了
          .main__header__bar__ul__l3__statu3


  .main__top
    .main__top__member-register
      .main__top__member-register__1
        %h2 会員情報入力
      .main__top__form
        .main__top__form__1#form-name
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            .main__top__form__1__content
              = f.label :nickname, "ニックネーム"
              %span.main__top__form__1__content__reqire 必須
              = f.text_field :nickname, class: "main__top__form__1__content__text-box validate[required]", placeholder: "例)キャンプ太郎"
            .main__top__form__1__content
              = f.label :"メールアドレス"
              %span.main__top__form__1__content__reqire 必須
              = f.email_field :email, class: "main__top__form__1__content__text-box validate[required]", placeholder: "例)XXX@gmail.com"
            .main__top__form__1__content
              = f.label :"パスワード"
              %span.main__top__form__1__content__reqire 必須
              = f.password_field :password, class: "main__top__form__1__content__text-box validate[required]", placeholder: "7文字以上の半角英数字"
            .main__top__form__1__content
              = f.label :"パスワード(確認)"
              %span.main__top__form__1__content__reqire 必須
              = f.password_field :password_confirmation, class: "main__top__form__1__content__text-box validate[required]", placeholder: "7文字以上の半角英数字"
            .main__top__form__1__content
              .main__top__form__1__content__box-name
                = f.label :"お名前(全角)"
                %span.main__top__form__1__content__reqire 必須
              .main__top__form__1__content__box-name__last
                = f.text_field :first_name, class: "main__top__form__1__content__text-box--1 validate[required]", placeholder: "例)栄"
                = f.text_field :last_name, class: "main__top__form__1__content__text-box--2 validate[required]", placeholder: "例)太郎"
            .main__top__form__1__content
              .main__top__form__1__content__name-kana
                = f.label :"お名前カナ(全角)"
                %span.main__top__form__1__content__reqire 必須
              .main__top__form__1__content__name-kana__kata
                = f.text_field :first_name_kana, class: "main__top__form__1__content__text-box--1 validate[required]", placeholder: "例)サカエ"
                = f.text_field :last_name_kana, class: "main__top__form__1__content__text-box--2 validate[required]", placeholder: "例)タロウ"
            .main__top__form__1__content
              .main__top__form__1__content__birthday
                = f.label :"生年月日"
                %span.main__top__form__1__content__reqire 必須
              .main__top__form__1__content__birthday__1
                = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
                .main__top__form__1__content
              .main__top__form__1__content__image
                = f.label :"プロフィール画像"
              .main__top__form__1__content__image__1
                = f.file_field :image, class: "main__top__form__1__content__text-box"
            .main__top__form__1__content__text
              %p.main__top__form__1__content__text__1
                ＊本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。

                .main__top__form__1__content__text__1__2
                  「次に進む」のボタンを押すことにより、利用規約に同意したものとみなします
                  %a{ href: "#URL", class: "main__top__form__1__content__text--2--a"}
                .main__top__form__1__content__field__actions
                  %a{ href: "#URL", class: "main__top__form__1__content__actions--a"}
                .main__top__form__1__content__text__bottom
                  = f.submit "次に進む", class: "main__top__form__1__content__text__bottom--btn"
                .main__top__form__1__content__text__bottom__2
                  本人情報の登録について

.user-footer
  .user-footer__center
    %ul.menu
      %li
        = link_to "プライバシーポリシー","#"
      %li
        = link_to "メルカリ利用規約","#"
      %li
        = link_to "特定商取引に関する表記","#"
    .user-footer__center__logo
      = link_to image_tag("logo/logo.png", width:"40%", height:"40%",class:"footer__center__logo--red2") ,"#"
    %p.inc
      ©︎ FURIMA,Inc.