.left-content
  .left-content__menu
    .left-content__menu__list
      %li
      = link_to "マイページ", "#", class: "left-content__menu__list--item"
      %li
      = link_to "お知らせ", "#", class: "left-content__menu__list--item" 
      %li
      = link_to "やることリスト", "#", class: "left-content__menu__list--item"
      %li
      = link_to "いいね！一覧", "#", class: "left-content__menu__list--item"
      %li
      = link_to "出品する", "#", class: "left-content__menu__list--item"
      %li
      = link_to "下書き一覧", "#", class: "left-content__menu__list--item"
      %li
      = link_to "出品した商品-出品中", "#", class: "left-content__menu__list--item"
      %li
      = link_to "出品した商品-取引中", "#", class: "left-content__menu__list--item"
      %li
      = link_to "出品した商品-売却済み", "#", class: "left-content__menu__list--item"
      %li
      = link_to "購入した商品-取引中", "#", class: "left-content__menu__list--item"
      %li
      = link_to "購入した商品-過去の取引", "#", class: "left-content__menu__list--item"
      %li
      = link_to "ニュース一覧", "#", class: "left-content__menu__list--item"
      %li
      = link_to "評価一覧", "#", class: "left-content__menu__list--item"
      %li
      = link_to "ガイド", "#", class: "left-content__menu__list--item"
      %li
      = link_to "お問い合わせ", "#", class: "left-content__menu__list--item"
      %h3.left-content__menu__list__bar フリマペイ
      %li
      = link_to "売上・申込申請", "#", class: "left-content__menu__list--item"
      %li
      = link_to "ポイント", "#", class: "left-content__menu__list--item"
      %h3.left-content__menu__list__bar 設定
      %li
      = link_to "プロフィール", "#", class: "left-content__menu__list--item"
      %li
      = link_to "発想元・お届け先", "#", class: "left-content__menu__list--item"
      %li
      = link_to "支払い方法", "#", class: "left-content__menu__list--item"
      %li
      = link_to "メール/パスワード", "#", class: "left-content__menu__list--item"
      %li
      = link_to "本人情報", "#", class: "left-content__menu__list--item"
      %li
      = link_to "電話番号確認", "#", class: "left-content__menu__list--item"
      %li
      = link_to "ログアウト", logout_users_path, class: "left-content__menu__list--item"