.right-main
  .right-main__block
    = image_tag '', height: '60', width: '60', alt: 'user-icon'
    .right-main__block__user-name cat
    .right-main__block__user-about
      .right-main__block__review 評価
      .right-main__black__exhibit 出品数

  .right-main__block
    %li.active
      %h3
        = link_to "お知らせ"
    %li
      %h3
        = link_to "やることリスト"
  
  .right-main__block__object
    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '', width: '', class: ''
      .right-main__block__object__link-box__body
        .right-main__block__object__liml-box__body--text 《まだ間に合う》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__liml-box__body--time
          %i.far.fa-clock, class: 'icon'
          .right-main__block__object__liml-box__body--time--date 1日前
      %i.fa.fa-angle-right.fa-2x

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '', width: '', class: ''
      .right-main__block__object__link-box__body
        .right-main__block__object__liml-box__body--text 《》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__liml-box__body--time
          %i.far.fa-clock, class: 'icon'
          .right-main__block__object__liml-box__body--time--date 1日前
      %i.fa.fa-angle-right.fa-2x

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '', width: '', class: ''
      .right-main__block__object__link-box__body
        .right-main__block__object__liml-box__body--text 《》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__liml-box__body--time
          %i.far.fa-clock, class: 'icon'
          .right-main__block__object__liml-box__body--time--date 1日前
      %i.fa.fa-angle-right.fa-2x

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '', width: '', class: ''
      .right-main__block__object__link-box__body
        .right-main__block__object__liml-box__body--text 《》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__liml-box__body--time
          %i.far.fa-clock, class: 'icon'
          .right-main__block__object__liml-box__body--time--date 1日前
      %i.fa.fa-angle-right.fa-2x

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '', width: '', class: ''
      .right-main__block__object__link-box__body
        .right-main__block__object__liml-box__body--text 《》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__liml-box__body--time
          %i.far.fa-clock, class: 'icon'
          .right-main__block__object__liml-box__body--time--date 1日前
      %i.fa.fa-angle-right.fa-2x