.right-main
  .right-main__block#back-image.in-main
    = image_tag current_user.image.url, height: '60', width: '60', alt: 'user-icon', class: 'user-icon'
    .right-main__block__user-name #{current_user.nickname}
    .right-main__block__user-about
      .right-main__block__review 評価
      .right-main__block__exhibit 出品数

  .right-main__block__1
    .right-main__block__1__tab-heads
      %li
        .right-main__block__1__active
          お知らせ
      %li
        .right-main__block__1__todo
          やることリスト
  
  .right-main__block__object
    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'right-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text 《まだ間に合う》まとめて出品して１万名にP3,000当たる!
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 1日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'ight-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text  事務局から個別メッセージ「ログイン通知」
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 3日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'ight-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text 《飲食店で20%ポイント還元》フリマペイ登録で還元率が50%に!!
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 5日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'ight-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text 《桜キャンペーン》いらないものを売ってみよう！
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 5日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'ight-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text 《あと2日》今なら出品して１万名にP3,000当たる!
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 10日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      = image_tag '', alt: '', height: '48', width: '48', class: 'ight-main__object__link-box__image'
      .right-main__block__object__link-box__body
        .right-main__block__object__link-box__body--text  事務局から個別メッセージ「衛生マスクの出品禁止について」
        .right-main__block__object__link-box__body--time
          %i.far.fa-clock
          .right-main__block__object__link-box__body--time--date 10日前
      -# %i.fa.fa-angle-right

    .right-main__block__object__link-box
      .right-main__block__object__link-box__content
        .right-main__block__object__link-box__content__chart 一覧を見る

  .right-main__block--bar
    .right-main__block__2
      %li
        .right-main__block__2__bar
          購入した商品
    .right-main__block__2__tab-heads
      %li
      .right-main__block__2__tab-heads__transaction
        取引中
      .right-main__block__2__tab-heads__past
        過去の取引
    %ul.right-main__block__2__none
      %li.right-main__block__2__none--list
        取引中の商品がありません