= render "items/header"
= render "users/breadcrumb"
.mypage-main-conent
  .mypage-main-index
    = render "users/leftbar"
    
  .right-content
    .logout
      .logout__content
        .logout__content__container
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout__content__container--btn"

= render "items/banner"
= render "items/exhibition-btn"
= render "items/footer"
