= render "items/header"
- breadcrumb :mypage
= render "users/breadcrumb"
.mypage-main-conent
  .mypage-main-index
    = render "users/leftbar"
  .right-content
    = render "users/right-main"

= render "items/banner"
= render "items/exhibition-btn"
= render "items/footer"