.left-content__menu
      .left-content__menu__list
        %li
        = link_to "マイページ", "#"
        %li
        = link_to "お知らせ", "#"
        %li
        = link_to "やることリスト", "#"
        %li
        = link_to "いいね！一覧", "#"
        %li
        = link_to "出品する", "#"
        %li
        = link_to "下書き一覧", "#"
        %li
        = link_to "出品した商品-出品中", "#"
        %li
        = link_to "出品した商品-取引中", "#"
        %li
        = link_to "出品した商品-売却済み", "#"
        %li
        = link_to "購入した商品-取引中", "#"
        %li
        = link_to "購入した商品-過去の取引", "#"
        %li
        = link_to "ニュース一覧", "#"
        %li
        = link_to "評価一覧", "#"
        %li
        = link_to "ガイド", "#"
        %li
        = link_to "お問い合わせ", "#"
        %h3.left-content__menu__list__bar メルペイ
        %li
        = link_to "売上・申込申請", "#"
        %li
        = link_to "ポイント", "#"
        %h3.left-content__menu__list__bar 設定
        %li
        = link_to "プロフィール", "#"
        %li
        = link_to "発想元・お届け先", "#"
        %li
        = link_to "支払い方法", "#"
        %li
        = link_to "メール/パスワード", "#"
        %li
        = link_to "本人情報", "#"
        %li
        = link_to "電話番号確認", "#"
        %li
        = link_to "ログアウト", "#"