.toppage_contents
  .top-visual
    .top-visual__image
    .top-visual__content
      %h2.top-visual__content__title
        人生を変えるフリマアプリ
      %p.top-visual__content__subtitle
        フリマはだれでもかんたんに出品・購入できる
        %br
          フリマアプリです
      .top-visual__content__btn
        = link_to image_tag("icon/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "apple-btn dlbtn"), '#'
        = link_to image_tag("icon/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "google-btn dlbtn"), '#'
  
  .top-introduction
    %h2.top-introduction__title
      FURIMAが選ばれる３つの理由
    %ul.top-introduction__lists
      %li.top-introduction__lists__list
        .top-introducion__lists__list__picture
          %span.top-introducion__lists__list__picture__number
            1
          = image_tag "pict/pict-reason-01.jpg", class: "top-introduction__lists__list__picture__image"
        %h3.top-introducion__lists__list__title
          %span
            ３分
          ですぐに出品
        %p.top-introducion__lists__list__explanation
          スマホで入力するだけで簡単に出品できる
        %h2.top-introduction__title
      
      %li.top-introduction__lists__list
        .top-introducion__lists__list__picture
          %span.top-introducion__lists__list__picture__number
            2
          = image_tag "pict/pict-reason-02.jpg", class: "top-introduction__lists__list__picture__image"
        %h3.top-introducion__lists__list__title
          %span
            シンプル
          で使いやすい
        %p.top-introducion__lists__list__explanation
          めんどくさい入力は必要なく、検索も購入もスムーズ!

      %li.top-introduction__lists__list
        .top-introducion__lists__list__picture
          %span.top-introducion__lists__list__picture__number
            3
          = image_tag "pict/pict-reason-03.jpg", class: "top-introduction__lists__list__picture__image"
        %h3.top-introducion__lists__list__title
          手数料
          %span
            業界最安
        %p.top-introducion__lists__list__explanation
          最大3%でお得に出品&購入!
  .top-membership
    .top-membership__body
      %h2.top-membership__body__title
        会員数日本一位
      %p.top-membership__body__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .top-membership__body__btn
        = link_to image_tag("icon/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class:"apple-btn dlbtn"), '#'
        = link_to image_tag("icon/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class:"google-btn dlbtn"), '#'
    = image_tag "", class: "top-membership__picture"
  .top-characteristic
    .top-characteristic__title
    .top-characteristic__lists
      .top-characteristic__lists__list
        = image_tag "", class: "top-characteristic__lists__list__picture"
        .top-characteristic__lists__list__title
        .top-characteristic__lists__list__text

      .top-characteristic__lists__list
        = image_tag "", class: "top-characteristic__lists__list__picture"
        .top-characteristic__lists__list__title
        .top-characteristic__lists__list__text

      .top-characteristic__lists__list
        = image_tag "", class: "top-characteristic__lists__list__picture"
        .top-characteristic__lists__list__title
        .top-characteristic__lists__list__text
  -# top-pickupsはまだhaml書いてない
  .top-pickups 
    .pickup
      %h
.top-banner
  = image_tag "", class: "top-banner__picture"
  .top-banner__body
    %h2.top-banner__body__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.top-banner__body__text
      今すぐ無料ダウンロード!
    .top-banner__body__icon
      = link_to image_tag("", class:"apple-btn dlbtn"), '#'
      = link_to image_tag("", class:"google-btn dlbtn"), '#'
= link_to image_tag("icon/icon_camera.png", class:"exhibition"), '#'