= render 'header'
.wrapper-item
 .de
  .de__name
   = @item.name
  .de__image
   = image_tag "#{@item.item_images.first.image}", width: "560", height: "350", class: "de__image__main"
  .de__image-list
   .de__image-list__box
    .de__image-list__box--img
    - @item.item_images.each do |image|
     = image_tag "#{image.image.url}", width: "108", height: "100", class: "de__image-list__box--img--1"
  .de__price
   .de__price--price
    = "¥#{@item.price}"
   .de__price__money
    .de__price__money--tax
     (税込み)
    .de__price__money--deliver
     送料込み

  - if user_signed_in? && current_user.id == @item.user_id
   .de__price__edit
    = link_to "編集", edit_item_path(@item), method: :get, class: "de__price__edit--btn"
   .de__price__delete
    = link_to "削除", item_path(@item), method: :delete, class: "de__price__detete--btn"
  - else
   - if user_signed_in?
    .de__parchase
     =link_to '購入画面に進む',confirm_item_transaction_path(item_id: @item.id),class:'btn gobuy'
  .de__exp
   = @item.explanation
  .de__table
   %table.table
    %tbody
     %tr
      %th 出品者
      %td
       = @item.user.nickname
     %tr.table__category
      %th カテゴリー
      %td.table__category--td
       = link_to "#{@item.category.parent.parent.name}", '#'
       %br
       = link_to ">#{@item.category.parent.name}", '#'
       %br
       = link_to ">#{@item.category.name}", '#'
     %tr
      %th ブランド
      %td
       = @item.brand
     %tr
      %th 状態
      %td
       = @item.condition.name
     %tr
      %th 負担
      %td 
       = @item.delivery_charge.name
     %tr
      %th 地域
      %td 
       = @item.shipping_origin.name
     %tr
      %th 目安
      %td
       = @item.sending_days.name
  .de__good
   %button.de__good--button いいね！

 .comment
  =form_with local: true  do |comment|
   .comment__form
    =comment.text_field :title,class:'text-introduce',placeholder:'商品の說明を入力してください'
   .comment__caution
    マナーを守ってください!
   .comment__go
    =comment.submit 'コメントする',class: 'commentbutton'

 .item-front-and-back
  %li
   = link_to ""
   %i.fas.fa-chevron-left
    前の商品
  %li
   = link_to ""
   後の商品
   %i.fas.fa-chevron-right

= render 'footer'