.card-content
  %h2.card-content__title
    クレジットカード情報入力
  = form_with(model: @card local: true, class: "card-content__form", id: "charge-form") do |f|
    .card-content__form__body
      .card-form.card-form--1
        = f.label :number, "カード番号", class: "card-form__label"
        %span.must 必須
        = f.text_field :number, placeholder: "半角数字のみ",maxlength: "16", class: "card-form__input"
      %ul.card-icon-lists
        %li
          = image_tag 'cards/visa.svg', width:'49px', height: '20px', class: 'visa'
        %li
          = image_tag 'cards/master-card.svg', width:'34px', height: '20px', class: 'master'
        %li
          = image_tag 'cards/saison-card.svg', width:'30px', height: '20px', class: 'saison'
        %li
          = image_tag 'cards/jcb.svg', width:'32px', height: '20px', class: 'saison'
        %li
          = image_tag 'cards/american_express.svg', width:'21px', height: '20px', class: 'amex'
        %li
          = image_tag 'cards/dinersclub.svg', width:'32px', height: '20px', class: 'diners'
        %li
          = image_tag 'cards/discover.svg', width:'32px', height: '20px', class: 'discover'
      .card-form
        = f.label "有効期限", class: "card-form__label"
        %span.must 必須
        .card-form__select
          .card-form__select__half
            = f.select :exp_month, ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
            %i.fas.fa-angle-down
            %span 月
          .card-form__select__half
            = f.select :exp_year, ['20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
            %i.fas.fa-angle-down
            %span 年

      .card-form
        = f.label :cvc, "セキュリティコード", class: "card-form__label"
        %span.must 必須
        = f.text_field :cvc, placeholder: "カード背面４桁もしくは３桁の番号", maxlength: "4", class: "card-form__input"
        .card-form__cvc-explanation
          .card-form__cvc-explanation__toggle
            %span.question-icon ? 
            カード裏面の番号とは？
          .card-form__cvc-explanation__information
          
      = f.submit "追加する", class: "card-submit"