= render "items/header"
- breadcrumb :card
= render "users/breadcrumb"
.mypage-main-conent
  .mypage-main-index
    = render "users/leftbar"
  .right-content
    = render "card/registerd_card"

= render "items/footer"