= render 'items/header'
.wrapper-item
 .pa
  .pa__confirm
   .pa__confirm__box
    購入内容の確認
  .pa__item
   .pa__item__box
    .pa__item__box__left
     = image_tag "#{@item.item_images.first.image}", width: "90", height: "90"
    .pa__item__box__right
     .pa__item__box__right--name
      =@item.name
     .pa__item__box__right__money
      .pa__item__box__right__money--price
       = "¥#{@item.price}"
      .pa__item__box__right__money--tax
       税込  送料込み
  .pa__trade
   .pa__trade__money
    .pa__trade__money--in
     金額
    .pa__trade__money--total
     = "¥#{@item.price}"
   .pa__trade__pay
    .pa__trade__pay__how
     .pa__trade__pay__how--in
      支払方法

    .pa__trade__pay__card
     .pa__trade__pay__card--in
     - if @card.present?
      クレジットカード
      .pa__trade__pay__card__credit
       .pa__trade__pay__card__credit--number
        .pa__trade__pay__card__credit--number--in
         カード番号
         .pa__trade__pay__card__credit--number--out
          **** **** **** #{@customer_card.last4}
        .pa__trade__pay__card__credit--limit
         有効期限
        .pa__trade__pay__card__credit--limit
         #{@customer_card.exp_month.to_s} / #{@customer_card.exp_year.to_s.slice(2,3)}
        .pa__trade__pay__card__credit--logo
         = image_tag @card_src, width:'49px', height: '20px', class: 'visa'
     - else
      クレジットカードが登録されていません
   .pa__trade__deliver
    .pa__trade__deliver__box
     .pa__trade__deliver__box__toward
      .pa__trade__deliver__box__toward--in
       配送先
     .pa__trade__deliver__box--place1
      =current_user.address.prefecture.name
     .pa__trade__deliver__box--place2
      =current_user.address.city
     .pa__trade__deliver__box--place3
      =current_user.address.town
     .pa__trade__deliver__box--place4
      =current_user.address.building
     .pa__trade__deliver__box--name
      =current_user.nickname
  .pa__go
   .pa__go--button
    - if @card.present?
     = link_to "購入する", transacte_item_transaction_path, method: :post, class: "gobutton"
    - else
     .pa__go--button.cantgobutton カード登録をしてください

= render 'items/footer'